#cog-overlay {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.6);
}
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #0b66c2 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  100% {
    transform: rotate(360deg);
  }
}
.is-hide {
  display: none;
}
.cog-section {
  padding: 50px 0;
}
.cog-term-head h4 {
  font-size: 30px;
  margin-bottom: 20px;
}

/* -----------------------------------faq-------------------------------- */


.cog-faq .accordion-button:not(.collapsed) {
  color: #0b66c2;
  background-color: #e5f6ff;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}
.cog-faq .accordion-button:focus {
  box-shadow: none;
}
.cog-faq .accordion-item {
  background-color: #fff;
  border: none;
  margin-bottom: 13px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 8%) !important;
}
.cog-faq .accordion-button:not(.collapsed) {
  color: #0b66c2;
  background-color: #e5f6ff;
  box-shadow: none;
  font-weight: 500;
  border: none;
}
.accordion-collapse {
border: solid rgba(0,0,0,0.125);
border-width: 0 1px;
border: none;
}
.accordion-button.collapsed {
  border: none;

}
/* ---------------------------------blog detail-------------------------------- */
.cog-blog-detail{
    /* box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; */
    /* padding: 30px; */

}

.cog-blog-detail img{
    width: 100%;
    margin-bottom: 20px;

}


/* ------------------------------------error----------------------------------------- */
.cog-error{
    text-align: center;
    margin: 10% 0;
}
.cog-error h4{
    font-size: 40px;
    margin: 20px 0;
}
.cog-error .btn-cog {
    color: #fff;
    background-color: #0b66c2;
    border-color: #0b66c2;
    font-weight: 500;
    padding: 5px 20px;
}
.cog-error p{
    font-size: 18px;
}